<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Filmby Debris Dams in Flood"

>
  <image imageURL="images/IMG_1489.jpg"
	thumbURL="thumbs/IMG_1489.jpg"
	linkURL="images/IMG_1489.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sim/OneDrive - Durham University/Work/teaching/2020-21/HydroMet Hazards/Virtual Field Trip/Filby debris dams/IMG_1489.JPG">
    <title><![CDATA[IMG_1489]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1491.jpg"
	thumbURL="thumbs/IMG_1491.jpg"
	linkURL="images/IMG_1491.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sim/OneDrive - Durham University/Work/teaching/2020-21/HydroMet Hazards/Virtual Field Trip/Filby debris dams/IMG_1491.JPG">
    <title><![CDATA[IMG_1491]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1492.jpg"
	thumbURL="thumbs/IMG_1492.jpg"
	linkURL="images/IMG_1492.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sim/OneDrive - Durham University/Work/teaching/2020-21/HydroMet Hazards/Virtual Field Trip/Filby debris dams/IMG_1492.JPG">
    <title><![CDATA[IMG_1492]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1493.jpg"
	thumbURL="thumbs/IMG_1493.jpg"
	linkURL="images/IMG_1493.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sim/OneDrive - Durham University/Work/teaching/2020-21/HydroMet Hazards/Virtual Field Trip/Filby debris dams/IMG_1493.JPG">
    <title><![CDATA[IMG_1493]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1497.jpg"
	thumbURL="thumbs/IMG_1497.jpg"
	linkURL="images/IMG_1497.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sim/OneDrive - Durham University/Work/teaching/2020-21/HydroMet Hazards/Virtual Field Trip/Filby debris dams/IMG_1497.JPG">
    <title><![CDATA[IMG_1497]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1501.jpg"
	thumbURL="thumbs/IMG_1501.jpg"
	linkURL="images/IMG_1501.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sim/OneDrive - Durham University/Work/teaching/2020-21/HydroMet Hazards/Virtual Field Trip/Filby debris dams/IMG_1501.JPG">
    <title><![CDATA[IMG_1501]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Photo 2.jpg"
	thumbURL="thumbs/Photo 2.jpg"
	linkURL="images/Photo 2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sim/OneDrive - Durham University/Work/teaching/2020-21/HydroMet Hazards/Virtual Field Trip/Filby debris dams/Photo 2.JPG">
    <title><![CDATA[Photo 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Photo 4.jpg"
	thumbURL="thumbs/Photo 4.jpg"
	linkURL="images/Photo 4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sim/OneDrive - Durham University/Work/teaching/2020-21/HydroMet Hazards/Virtual Field Trip/Filby debris dams/Photo 4.JPG">
    <title><![CDATA[Photo 4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>